<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Home</li>
              <li class="active"><a href="#">SRNA</a></li>
              <li><a href="#">Mission</a></li>
              <li class="nav-header">Neighborhood Association</li>
              <li><a href="#">Boundaries</a></li>
              <li><a href="#">Political Representation</a></li>
              <li><a href="#">General Council </a></li>
              <li><a href="#">Committees</a></li>
              <li><a href="#">Membership</a></li>
              <li><a href="#">Pay Dues</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Forums</a></li>
              <li class="nav-header">The Neighborhood</li>
              <li><a href="#">Rich History</a></li>
              <li><a href="#">Kessler Park</a></li>
              <li><a href="#">Kansas City Museum</a></li>
              <li><a href="#">Gladstone Blvd</a></li>
              <li><a href="#">Historic Homes</a></li>
              <li><a href="#">Affordability</a></li>
              <li><a href="#">Public Art</a></li>
              <li><a href="#">Online Walking Tour of Neighborhood – with pictures</a></li>
              <li class="nav-header">Resources</li>
              <li><a href="#">Home Ownership Incentives</a></li>
              <li><a href="#">Dining and Shopping</a></li>
              <li><a href="#">School Options</a></li>
              <li class="nav-header">Events</li>
              <li><a href="#">Halloween</a></li>
              <li><a href="#">Homes Tour</a></li>
              <li><a href="#">Welcome Wagon</a></li>
            </ul>
          </div><!--/.well -->