<div id="minorNav" class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Home</li>
              <li class="active"><a href="index.html">SRNA</a></li>
              <li><a href="index.html#mission">Mission</a></li>
              <li class="nav-header">Neighborhood Association</li>
              <li><a href="about.html#boundary">Boundaries</a></li>
              <li><a href="about.html#politics">Political Representation</a></li>
              <li><a href="about.html#council">General Council </a></li>
              <li><a href="about.html#committees">Committees</a></li>
              <li><a href="about.html#membership">Membership</a></li>
              <li><a href="about.html#pay">Pay Dues</a></li>
              <li><a href="about.html#forums">Forums</a></li>
              <li class="nav-header">The Neighborhood</li>
              <li><a href="neighborhood.html#history">Rich History</a></li>
              <li><a href="neighborhood.html#park">Kessler Park</a></li>
              <li><a href="neighborhood.html#museum">Kansas City Museum</a></li>
              <li><a href="neighborhood.html#blvd">Gladstone Blvd</a></li>
              <li><a href="neighborhood.html#homes">Historic Homes</a></li>
              <li><a href="neighborhood.html#affordable">Affordability</a></li>
              <li><a href="neighborhood.html#art">Public Art</a></li>
              <li><a href="neighborhood.html#pics">Online Walking Tour of Neighborhood – with pictures</a></li>
              <li class="nav-header">Resources</li>
              <li><a href="resources.html#homes">Home Ownership Incentives</a></li>
              <li><a href="resources.html#shops">Dining and Shopping</a></li>
              <li><a href="resources.html#schools">School Options</a></li>
              <li class="nav-header">Events</li>
              <li><a href="#">Halloween</a></li>
              <li><a href="#">Homes Tour</a></li>
              <li><a href="#">Welcome Wagon</a></li>
            </ul>
          </div><!--/.well -->