<div id="minorNav" class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">Home</li>
	  <li class="active"><a href="index.html">SRNA</a></li>
	  <li><a href="index.html#welcome">Welcome</a></li>
	  <li><a href="index.html#boundary">Boundaries</a></li>
	  <li><a href="index.html#pics">Pictures</a></li>
	  <li class="nav-header">Neighborhood Association</li>
	  <li><a href="about.html#mission">Our Mission</a></li>
	  <li><a href="about.html#board">Board of Directors</a></li>
	  <li><a href="about.html#committees">Committees</a></li>
	  <li><a href="about.html#bylaws">Bylaws</a></li>
	  <li><a href="about.html#dues">Pay Dues</a></li>
	  <li class="nav-header">The Neighborhood</li>
	  <li><a href="neighborhood.html#history">Rich History</a></li>
	  <li><a href="neighborhood.html#community">Sense of Community</a></li>
	  <li><a href="neighborhood.html#residents">Who Lives Here</a></li>
	  <li><a href="neighborhood.html#park">Kessler Park</a></li>
	  <li><a href="neighborhood.html#museum">Kansas City Museum</a></li>
	  <li><a href="neighborhood.html#walk">Walking Tour</a></li>
	  <li class="nav-header">Resources</li>
	  <li><a href="resources.html#affordable">Affordability</a></li>
	  <li><a href="resources.html#homes">Home Ownership Incentives</a></li>
	  <li><a href="resources.html#lisc">LISC</a></li>
	  <li><a href="resources.html#shops">Dining and Shopping</a></li>
	  <li><a href="resources.html#schools">School Options</a></li>
	  <li><a href="resources.html#safety">Safety</a></li>
	  <li><a href="resources.html#links">Links</a></li>
	  <li class="nav-header">Events</li>
	  <li><a href="events.html#calendar">Calendar</a></li>
	  <li><a href="events.html#halloween">Halloween</a></li>
	  <li><a href="events.html#homes">Homes Tour</a></li>
	  <li><a href="events.html#velo">Velocipede Indeed</a></li>
	  <li><a href="events.html#fourth">Fourth of July</a></li>
	  <li><a href="events.html#cliffhanger">Cliff Hanger</a></li>
	  <li><a href="events.html#chalkwalk">Chalk Walk</a></li>
	  <li class="nav-header">News</li>
	  <li><a href="news.html#announce">Announcements and Minutes</a></li>
	  <li><a href="news.html#forums">Forums</a></li>
	  <li><a href="news.html#fbFeed">Facebook</a></li>
	</ul>
</div><!--/.well -->