<div id="subnav" class="subnav">
  <ul class="nav nav-pills">
	<li><a href="#scarritt">Scarritt</a></li>
	<li><a href="neighborhood.html#history">Rich History</a></li>
	<li><a href="neighborhood.html#park">Kessler Park</a></li>
	<li><a href="neighborhood.html#museum">Kansas City Museum</a></li>
	<li><a href="neighborhood.html#blvd">Gladstone Blvd</a></li>
	<li><a href="neighborhood.html#homes">Historic Homes</a></li>
	<li><a href="neighborhood.html#affordable">Affordability</a></li>
	<li><a href="neighborhood.html#art">Public Art</a></li>
	<li><a href="neighborhood.html#pics">Online Walking Tour of Neighborhood – with pictures</a></li>
              
  </ul>
</div>