
body {
  background-image: url("/assets/img/scarritt/bg.jpg");
}
h1 {
	color: white;
}

h2 {
	color: white;
    border-top:250px solid transparent;
    margin-top:-250px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;

}

a {
	color: #fcde92;
}

a:hover, a:visited {
	color: #ebc566;
}

.logo {
  background: transparent;
}

header .container-fluid {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
}

#header .brand {
 padding: 0 0 0 48px;
}

#header {
  background-image: url('/assets/img/scarritt/header-repeat.jpg');
  background-repeat: repeat-x;
}

#minorNav {
	background-color: #f9edb2;
}

.nav .nav-header {
	color: #590000;
}


.nav > li > a:hover {
	background-color: #fcde92;
	color: #3b0000;
}

.nav > li > a {
	color: #590000;
}

.nav > li.active > a {
	background-color: #590000;
	color: #f9edb2;
}




