
body {
  background-image: url("/assets/img/scarritt/bg.jpg");
}
h1 {
	color: white;
}

h2 {
	color: white;

}

a {
	color: #fcde92;
}

a:hover, a:visited {
	color: #ebc566;
}

.logo {
  background: transparent;
}

header .container-fluid {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
}

#header .brand {
 padding: 0 0 0 48px;
}

#header {
  background-image: url('/assets/img/scarritt/header-repeat.jpg');
  background-repeat: repeat-x;
}

#minorNav {
	background-color: #f9edb2;
}

.nav .nav-header {
	color: #590000;
}


.nav > li > a:hover {
	background-color: #fcde92;
	color: #3b0000;
}

.nav > li > a {
	color: #590000;
}

.nav > li.active > a {
	background-color: #590000;
	color: #f9edb2;
}

.span6 {
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	background-color: #F9EDB2;
	border-bottom-color: rgba(0, 0, 0, 0.0470588);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.0470588);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.0470588);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.0470588);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	color: black;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 5px;
	margin-bottom: 10px;
	
}

.span6 h2 {
	color: #590000;
}
	
.span6	a {
	color: #08C;
	text-decoration: none;
}

iframe {
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	background-color: white;
	border-bottom-color: rgba(0, 0, 0, 0.0470588);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.0470588);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.0470588);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.0470588);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 5px;
	margin-bottom: 5px;
	
}


